@font-face {
  font-family: "CangErZhouKeZhengDaBangShu";
  src: url("/fonts/bangshu/CangErZhouKeZhengDaBangShu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
